<!-- About Section -->
<section class="page-section" id="about" >
    <div class="container relative">
        
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            About Skywand &amp; Studio
        </h2>
        
        <div class="section-text mb-50 mb-sm-20">
            <div class="row">
            
                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                        Skywand is an advanced motion control system for aerial cinematography that combines ease of use, repeatability, and precision. Harnessing cutting edge technologies in virtual/augment reality (VR/AR), animation, and drone flight, Skywand allows users to create precise aerial filming plans by intuitively placing key frames in the 3D virtual world that meet all cinematographic needs, and the drone follows the path precisely in the actual world and captures epic, smooth and high precision aerial shots.  
                        Filming, not flying.
                        Skywand removes technical barriers to achieving expert drone cinematography by automating the flight process, giving imaginative filmmakers a powerful partner in the sky. 
                </div>
                
                
                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    Skywand is created by <a href="http://ambergarage.com" target="_blank">Amber Garage</a>, a Silicon Valley based creative art &amp; tech studio. We love photography, nature, and robotics. As a photographer, we're exploring a solution to put our camera anytime,anywhere on the planet to capture the beauty of our beloved world.
                </div>
                
                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                The technology behind Skywand is the most advanced robotics control algorithm and state-of-the-art virtual reality interface. The sophisticated algorithm guarantees that  the drone captures epic, smooth, repetable and high precision aerial shots every time.
                Our virtual reality interface is the most intuitive way for filmmaker to transport their framing idea into the real production. 

                The interface and robotics technology of Skywand is currently patent pending.
            </div>
        </div>
        

    </div>
</section>
<!-- End About Section -->