<!-- Contact Section -->
<section class="page-section" id="contact" >
    <div class="container relative">
        
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Partnership &amp; Contact
        </h2>
        
        <div class="row mb-60 mb-xs-40">
            
            <div class="col-md-8 col-md-offset-2">
                <div class="row section-text">
                We believe that Skywand builds a bridge between the animation and the real world, which enables innumerable unbelievable shots in the real world and will generate awesome creative projects that people could never imagine before.
                <br/>
                <br/>

                We are looking for partnership with innovators, filmmakers, artists, and creatives to collaborate on creative projects that use the Skywand technologies. We also work with commercial drone flight companies who want to explore new applications for drones.
                <br>
                <br>
                <br>
                </div>
                <div class="row">
                
                    
                    <!-- Email -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                         
                        </div>
                    </div>
                    <!-- End Email -->
                    
                    <!-- Email -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Email
                            </div>
                            <div class="ci-text">
                                <a href="mailto:info@skywand.com">info@skywand.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->

                     <!-- Email -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                         
                        </div>
                    </div>
                    <!-- End Email -->
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<!-- End Contact Section -->